body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #f2f4f5;
  min-height: 100vh;
  padding-bottom: 13.4rem;
}

.desc {
  display: flex;
  justify-content: center;
  text-align: center;
}

p {
  width: 70%;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
}

.card {
  background-color: rgba(34, 34, 34, 0.4);
  flex-grow: 1;
  flex: 0 1 calc(25% - 20px);
  min-width: 0;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  margin-bottom: 20px;
  display: grid;
  place-items: center;
  aspect-ratio: 993/400;
}

.valkyries {
  background-image: url("../Images/Valkyries.png");
}

.weapons {
  background-image: url("../Images/Weapons.png");
}

.stigmata {
  background-image: url("../Images/Stigmatas.jpg");
}

.tierlist {
  background-image: url("../Images/Tierlist.png");
}

.socials {
  color: #fff;
}

.socials img {
  width: 1.5rem;
}

.icon-container {
  margin-top: 10px;
}

.fanmade {
  color: #fff;
}
